<div data-id="<%= id %>" class="content-image content-template" style="top: <%= position.y %>px; left: <%= position.x %>px; rotation: <%= position.rotation %>;" title="<%= options.title%>">
    <a href="<%= options.linkUrl %>">
        <img src="<%= options.imageUrl %>" onmouseover="this.src='<%= options.imageUrlHover %>'" onmouseout="this.src='<%= options.imageUrl %>'" style="width: <%= size.width %>px; height: <%= size.height %>px;" />
    </a>
</div>